* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}



.yellow-card {
    background-color: #E28625;
    width: 300px;
    border-radius: 8px;
    padding: 48px;
    box-sizing: border-box;

}



.card-h2 {

    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: white;
    margin-top: 35px;
}

.card-p {
    width: 210px;
    margin-top: 25px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.btn {
    display: block;
    margin-top: 83px;
    padding: 12px 32px 12px 32px;
    border: 2px solid #fff;
    border-radius: 35px;
    color: #E28625;
    background-color: #fff;
    width: 88px;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #E28625;
    color: white;
    transition: all 0.5s ease;
}



.blue {
    color: #006971;


}

.blue {
    background-color: #006971;
    width: 300px;

}

.blue:hover {
    background-color: #006971;
    color: white;
}

.dark {
    color: #004140;

}

.dark:hover {
    background-color: #004140;
    color: white;

}

.dark {
    background-color: #004140;
    width: 300px;

}